header {
    display: flex;
    padding: 10px 100px;
    /* border: 2px solid; */
    position: absolute;
    width: 1104px;
    height: 30px;
    justify-content: flex-end;
}

header nav {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin: 0;
}

.top-bar {
    display: flex;
    width: 100%;
    justify-content: space-around;
    gap: 50px;
    list-style: none;
   
}

header div {
    display: flex;
    gap: 20px;
}

* {
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    color: #ffffff;
    font-family: sans-serif;
}

a {
    color: #ffffff;
}

.cpl {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    gap: 30px;
    list-style: none;
    position: absolute;
    top: 10px;
    right: 10px;
    list-style: none;
    gap: 15px;
    }

li a {
    text-decoration: none;
    color: #ffffff;
    font-family: Source Sans Pro, sans-serif;
    font-weight: bold;
    font-size: 30px ;
}

h1 {
    text-align: center;
    font-family: Source Sans Pro, sans-serif;
    font-size: 210px;
    font-weight: bold;
    color: #ffffff;
    padding-top: 80px;
    line-height: auto;
    margin-top: 80px;
    margin-bottom: 0px;
    margin-left: 74px;
}

.logo {
    margin-left: 100px;
}

span {
    
}

.action {
    text-align: center;
    gap: 50px;
    line-height: auto;
    color: white;
    margin-top: 15px;
    margin-bottom: 40px;
    margin-left: 50px;
    padding: 50px;
    font-size: 30px;
    font-weight: bold;
    justify-content: space-between;
    word-spacing: 70px;
    
}

button {
    display: block;
    color: white;
    border: none;
    font-size: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 50px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
    margin-bottom: 150px;
    margin-left: 70px;
    background-color: #C271FF
}

.center {
    text-align: center;
}

.first-section {
    background-image: url("C:/Users/Administrator/alx_html_css/css_advanced/assets/Object.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: auto;
    padding: 0px;
}

h2 {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 100px;
}

