header {
    justify-content: space-around;
    
}

header ul {
    display: flex;
    justify-content: flex-end;
            /* Move content to the right */
    padding: 20px;
    padding-top: 0;

}

body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

.first-section {
    background-image: url("C:/Users/Administrator/alx_html_css/css_advanced/assets/Object.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 0px;
    padding-top: 20px;
    height: 1093px;
    width: 1440px;
}

nav {
    justify-content: space-between;
    display: flex;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}

nav ul li {
    display: inline;
    margin-right: 100px;
}

a {
    text-decoration: none;
    color: #ffffff;
    font-size: 15px;
    word-spacing: 10px;
}
.logo {
    display: flex;
    justify-content: flex-start;
    gap: 50px;
    list-style: none;
    margin-left: 100px;
    align-items: center;
}

h1 {
    text-align: center;
    color: #ffffff;
    font-size: 120px;
    margin-bottom: 5px;
}

.action {
    text-align: center;
    gap: 50px;
    color: white;
    font-size: 20px;
    font-weight: 600;
    word-spacing: 60px;
    justify-content: center;
}
.submit button {
    align-items: center;
    color: white;
    border: none;
    display: block;
    font-size: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 50px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
    margin-bottom: 150px;
    margin-left: 35px;
    background-color: #C271FF;
}

button:hover {
    background-color: #E5AAFF;
    cursor: pointer;
}

.submit {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.learn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.learn h2 {
    text-align: center;
    font-size: 25px;
    color: #ffffff;
    font-weight: 300;
    font-family: 'Source Sans Pro', sans-serif;
    margin-bottom: 40px;
    
}

.learn h3, .learn p {
    color: #ffffff;
    font-size: 18px;

}

.profiles {
    display: flex;
    flex-direction: row;
    gap: 100px;
    align-items: center;
    margin-top: 0px;
    
}

.phillip, .nannie, .bruce, .henry {
    display: flex;
    flex-direction: column;
    color: white;
    width: 150px;
    text-align: center;
    line-height: 24px;
    margin-top: 5px;
}

.bruce img  {
    border-radius: 70px;
}

.bruce h3 {
    font-size: 18px;
    margin-bottom: 0;
}

.profiles h3 {
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 600;
}

.profiles p {
    display: flex;
    flex-direction: column;
    width: 150px;
    text-align: center;
    line-height: 24px;
    margin-top: 5px;
    font-weight: 200;
}

.testimonial {
    background-color: #C271FF;
    height: 392px;
    width: 1440px;
    justify-content: center;
    color: #ffffff;
    display: flex;
    align-items: center;
    gap: 50px;
    }

  .testimonial img {
    display: flex;
    margin-left: 150px;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .testimonial h3, .testimonial p, blockquote {
    text-align: center;
    display: flex;
    padding: 0;
    margin: 0;
  }

  blockquote {
    margin-bottom: 20px;
  }

  .tutorials {
    background-color: #ffffff;
    width: 1440px;
    height: 450px;
    padding: 80px 0;
    background-color: #f9f9f9;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
  }

  .tutorial h2 {
      font-size: 32px;
      font-weight: 100;
      margin-bottom: 50px;
      color: #333;
  }

  .tutorial-card {
      width: 260px;
      background-color: white;
      border-radius: 10px;
      padding-bottom: 20px;
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
      transition: transform 0.2s ease;
      display: inline-block;
      margin-bottom:20px;
  }

  .play-icon {
      position: absolute;
      width: 50px;
      height: 50px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
  }

    .tutorial-card:hover {
        transform: translateY(-10px);
        cursor: pointer;
    }

    .author {
        display: flex;
        align-items: center;
        gap: 10px;
        margin: 15px 20px 10px;
    }
    
    .author img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }
    
    .author h4 {
        font-size: 14px;
        margin: 0;
        color: #333;
    }

    .rating {
            margin: 10px 0;
    }
    
    .rating img {
            width: 100px;
            height: auto;
    }

    .membership {
        background-color: #071629;
        height: 502px;
        width: 1440px;
        text-align: center;
        color: white;
        font-size: 20px;
        padding: 80px 0;
    }

        .membership-features {
            display: inline-flex;
            font-size: 18px;
            justify-content: space-around;
            gap: 20px;
            margin-top: 40px;
            margin-bottom: 40px;
        }

        .membership p {
            font-size: 14px;
        }

        .membership button {
            font-size: 20px;
            padding: 15px 30px;
            border-radius: 50px;
            border: none;
            background-color: #C271FF;
            color: white;
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
            margin: 50px 30px;
        }

        .faq h2{
            font-size: 32px;
            font-weight: 400;
            margin-bottom: 50px;
        }

        .faq {
            background-color: #ffffff;
            width: 1440px;
            height: 707px;
            padding: 80px 0;
            text-align: center;
        }

        .faq-container {
            width: 920px;
            height: 800px;
            margin: 0 auto;
            text-align: center;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, auto);
            gap: 135px;
            justify-content: center;
            max-width: 1000px;
        }

        .question {
            font-size: 1.2rem;
            font-weight: 600;
            margin-bottom: 20px;
            cursor: pointer;
            color: #222;
        }
        
        .answer {
            font-size: 0.95rem;
            color: #555;
            line-height: 1.6;
        }

        .grid {
            background-color: #fff;
            border-radius: 15px;
            padding: 30px 48px;
            min-height: 320px;
            text-align: left;
        }

        footer {
            background-color: #071629;
            color: white;
            padding: 40px 0;
            text-align: center;
            height: 249px;
            width: 1440px;
        }

        footer img {
            display: flex;
            justify-content: flex-start;
            margin-left: 100px;
        }

        .social-icons {
            display: flex;
            justify-content: flex-end;
            gap: 20px;
            margin-top: 20px;
            margin-right: 100px;
        }

        i.fa-brands {
            font-size: 24px;
            cursor: pointer;
        }

        .footer-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 80px;
        }

        footer p {
            text-align: center;
            margin-top: 120px;
            font-weight: 100;
            color: #888;
            font-size: 15px;
        }